$TS-MainColor: #2a76c9;
$Header-Theme: #353a40;
$Main-Theme: #e9ecef;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Main-Theme;

    #App {
        font-size: 22px;
        color: $TS-MainColor;
    }

    .title {
        color: $Header-Theme;
    }

    .logo {
        width: 100%;
        height: 100%;
    }
}